<header>
	    <div class="container">
		<div class="intro-text">
		    <div class="intro-lead-in">První ročník pivního maratonu!</div>
		    <div class="intro-heading">Báňský Prasák</div>
		    <a href="#ocojde" class="page-scroll btn btn-primary">Chci se ožrat!</a>
		</div>
	    </div>
</header>