<!DOCTYPE html>
<html>

<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<meta name="robots" content="noindex,nofollow" />

	<title>{block #title}{/block} | Báňksý Prasák</title>

    <link href="{$basePath}/adm/css/bootstrap.min.css" rel="stylesheet">
    <link href="{$basePath}/adm/font-awesome/css/font-awesome.css" rel="stylesheet">

    <link href="{$basePath}/adm/css/plugins/timeline/timeline.css" rel="stylesheet">

    <!-- SB Admin CSS - Include with every page -->
    <link href="{$basePath}/adm/css/sb-admin.css" rel="stylesheet">

	<script src="{$basePath}/adm/js/jquery-1.10.2.js"></script>

	<link rel="shortcut icon" href="{$basePath}/favicon.ico" type="image/x-icon" />
<!-- 		<script type="text/javascript" src="{$basePath}/admin/admin.js"></script> -->

	{block #head}{/block}
</head>

<body>
	<div id="wrapper">

        <nav class="navbar navbar-default navbar-fixed-top" role="navigation" style="margin-bottom: 0">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".sidebar-collapse">
                    <span class="sr-only">Zobrazit menu</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="">Báňský prasák</a>
            </div>
            <!-- /.navbar-header -->

            <ul class="nav navbar-top-links navbar-right">
                                
                {*{control sign:logged}*}
                
                <!-- /.dropdown -->
            </ul>
            <!-- /.navbar-top-links -->

            <div class="navbar-default navbar-static-side" role="navigation">
                <div class="sidebar-collapse">
                    <ul class="nav" id="side-menu">
                        <li>
                            <a n:href="Homepage:"><i class="fa fa-dashboard fa-fw"></i> Nástěnka</a>
                        </li>
						<li>
                            <a n:href="OcoJde:"><i class="fa fa-pencil fa-fw"></i> Pokec</a>
                        </li>
						<li>
                            <a n:href="Hospoda:"><i class="fa fa-beer fa-fw"></i> Hospody</a>
                        </li>
						<li>
                            <a n:href="Mapa:"><i class="fa fa-map-marker fa-fw"></i> Mapa</a>
                        </li>
						<li>
                            <a n:href="Pravidla:"><i class="fa fa-ambulance fa-fw"></i> Pravidla</a>
                        </li>
                    </ul>
                    <!-- /#side-menu -->
                </div>
                <!-- /.sidebar-collapse -->
            </div>
            <!-- /.navbar-static-side -->
        </nav>

        <div id="page-wrapper">
			<div class="row">
				{foreach $flashes as $flash}
					<p class="alert alert-{$flash->type}">{$flash->message}</p>
				{/foreach}
			</div>

            {include #content}
        </div>
        <!-- /#page-wrapper -->

    </div>
    <!-- /#wrapper -->
        
    <!-- Core Scripts - Include with every page -->
    <script src="{$basePath}/adm/js/bootstrap.min.js"></script>
    <script src="{$basePath}/adm/js/plugins/metisMenu/jquery.metisMenu.js"></script>
	<script type="text/javascript" src="{$basePath}/vendor/nette-forms/src/assets/netteForms.js"></script>
	<script type="text/javascript" src="{$basePath}/vendor/nette.ajax.js/nette.ajax.js"></script>
	<script type="text/javascript" src="{$basePath}/vendor/nette.ajax.js/extensions/confirm.ajax.js"></script>
	<script type="text/javascript" src="{$basePath}/js/confirm.js"></script>

    <!-- SB Admin Scripts - Include with every page -->
    <script src="{$basePath}/adm/js/sb-admin.js"></script>

    <!-- Page-Level Demo Scripts - Dashboard - Use for reference -->
<!-- 	    <script src="{$basePath}/adm/js/demo/dashboard-demo.js"></script> -->

	{block #foot}{/block}

	<script src="{$basePath}/js/scripts.js"></script>
</body>
</html>
        
        
       
