<section id="trasa" class="bg-light-gray">
    <h2 class="text-center">Mapa Závodu</h2>
    <div id="map"></div>  
</section>

<script src="https://maps.googleapis.com/maps/api/js?signed_in=true&callback=initMap"></script>

{*<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBslHWF0MwRrWK2NZZdH8ZxntxBAPq5bfM&callback=initMap"></script>*}




